body {
	font-family: Arial, sans-serif;
	background-color: blue;
}

.container {
	max-width: 300px;
	display: flex;
	flex-direction: column;
	margin: 10px auto;
	padding: 20px;
	background-color: white;
	border-radius: 40px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.completed {
	text-docoration: line-through;
	color: blue;
}

h1 {
	text-align: center;
	color: darkcharcoal;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid chinesesilver;
    border-radius: 3px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: blue;
    color: blue;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button: hover {
    background-color: cobalt;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    margin-bottom: 5px;
    background-color: yellow;
    border-radius: 3px;
}
